{% extends 'base.html.twig' %}

{% block title %}Liste des surviviants{% endblock %}

{% block body %}
<div class="filter">
    <a href={{path('app_home')}}>defaut</a>
    <a href={{path('app_home' , {'filter': 'desc'} )}}>Z-A</a>
    <a href={{path('app_home', {'filter': 'nain'})}}>Nain</a>
    <a href={{path('app_home', {'filter': 'elf>25'})}}>Elf>=25</a>
    <a href={{path('app_home', {'filter': 'non_humain'})}}>Non Humain</a>
</div>
<main>

    <section id="survivants" >
        {% for survivant in survivants %}

        {# SURVIVANT CARDS #}
        <article>   
            <div class="top-card">
                <img src="{{asset('images/' ~ survivant.image)}}" alt="portrait du survivant {{survivant.nom}}">  
                <div class="description">
                <h2>{{survivant.nom }}({{survivant.race.raceName }})</h2>
                {{survivant.description | raw }}
                </div>   
            </div>        
            <div class="classlogo">
                {% for classe in survivant.classe %}
                    <img src="{{asset('images/class/' ~ classe.className ~'.png')}}" title="{{classe.className}}" alt="icone pour la classe {{classe.className}}">
                {% endfor %}
                    <span>puissance:{{survivant.puissance }}</span>
            </div>
        
        </article>
        {# END SURVIVANT CARDS #}
        {% endfor %}
    </section>
</main>
{% endblock %}