{% extends 'base.html.twig' %}

{% block title %}Liste des surviviants{% endblock %}

{% block body %}
<main>

    <section id="survivants" >
        {% for survivant in survivants %}

        {# SURVIVANT CARDS #}
        <article>   
            <div class="top-card">
                <img src="{{asset('images/' ~ survivant.image)}}" alt="portrait du survivant {{survivant.nom}}">  
                <div class="description">
                <h2>{{survivant.nom }}</h2>
                {{survivant.description | raw }}
                </div>   
            </div>        
            <div class="classlogo">
                {% for classe in survivant.classe %}
                    <img src="{{asset('images/class/' ~ classe.className ~'.png')}}" title="{{classe.className}}" alt="icone pour la classe {{classe.className}}">
                {% endfor %}

            </div>
        
        </article>
        {# END SURVIVANT CARDS #}
        {% endfor %}
    </section>
</main>
{% endblock %}