{% extends 'base.html.twig' %}

{% block title %}Liste des surviviants{% endblock %}

{% block body %}
<main>
    <div class="filter">
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.race) }}
            {{ form_row(form.classe) }}
            {{ form_row(form.power_min) }}
            <button type="submit">Filtrer</button>
        {{ form_end(form) }}
    </div>
    
    <section id="survivants" >
        {% for survivant in survivants %}

        {# SURVIVANT CARDS #}
        <article>   
            <div class="top-card">
                <img src="{{asset('images/' ~ survivant.image)}}" alt="portrait du survivant {{survivant.nom}}">  
                <div class="description">
                <h2>{{survivant.nom }}({{survivant.race.raceName }})</h2>
                {{survivant.description | raw }}
                </div>   
            </div>        
            <div class="classlogo">
                {% for classe in survivant.classe %}
                    <img src="{{asset('images/class/' ~ classe.className ~'.png')}}" title="{{classe.className}}" alt="icone pour la classe {{classe.className}}">
                {% endfor %}
                    <span class="puissance">puissance: {{survivant.puissance }}</span>
            </div>
        
        </article>
        {# END SURVIVANT CARDS #}
        {% endfor %}
    </section>
</main>
{% endblock %}
